@import "../vendors/@progress/kendo-ui/2020.3.1118/css/kendo.common.min.css";
@import "../vendors/@progress/kendo-ui/2020.3.1118/css/kendo.bootstrap-v4.min.css";

.form-control.k-widget
{
    padding: 0;
    width: 100%;
    height: auto;
}

.form-control.k-widget:not(.k-autocomplete)
{
    border-width: 0;
}

